
.pyramidAndInfo_container {
    position:fixed;
    display: flex;
    flex-direction: column;
    padding:0rem 0rem 0rem 0rem;
    justify-content: space-around;
    position: relative;
    bottom: 1rem;
    overflow-anchor: none;
}

.pyramid_container {
position:relative;
top:0rem;
left:0rem;
}
.shopifyAdjust{
    left:0rem;
    top:0rem;
}
.blue{
    background-color: blue;
}
.info_container {
    color:white;
    display:flex;
    flex-direction:column;
}

.info_title {
    font-size: 2.5rem;
    font-family: "Fauna One";
    text-align: center; 
    color: #d5fff8;
}

.info_brief_description{
    font-size: 1.7rem;
    font-family: "Karla";
    text-align: center;
    padding: 1rem 5rem 0rem 5rem;
    color: #e0fffa;
}
.arrow_container {
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 0rem 5rem 1rem 5rem;
}

.desc_arrow {
bottom: 0rem;
position:relative;
transform: rotate(45deg);
/*bottom:3rem*$honeycomb-scale;
left:10rem*$honeycomb-scale;*/
width: 0;
height: 0;
border-bottom: 2.6rem solid $outer_honeycomb_color_light;
border-left: 2.6rem solid transparent;   
}

.more_info{
    font-size: 1.7rem;
    font-family: "Karla";
    text-align: justify;
    padding: 1rem 5rem 0rem 5rem;
    color: #e0fffa;
    //overflow:scroll;
}

.portfolio_symbol_container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    //background-color: blue;
    margin: 0rem 0rem (2.88675rem*$honeycomb-scale)*$honeycomb_distance 0rem;
}
.trello_container {
    position:absolute;
    bottom:0.1rem*$honeycomb-scale;
    right:15.5rem*$honeycomb-scale;   
}
.subProjectContainer{
    position: relative;
    top: 0.1rem*$honeycomb-scale;
    left: 4.6rem*$honeycomb-scale;
    width: auto;
}
.fmsubProjectContainer {
    position: relative;
    left: 0rem*$honeycomb-scale;
    top:0.3rem*$honeycomb-scale;
}

.oc_container {
    position:absolute;
    bottom:0rem*$honeycomb-scale;
    left:6.3rem*$honeycomb-scale;
    z-index: 2;
}

.oc_api_container {
    position:absolute;
    top:4.2rem*$honeycomb-scale;
    left:0.3rem*$honeycomb-scale;
    //z-index: 3;
}

.react_container {
   position:absolute;
    top:4.3rem*$honeycomb-scale;
    left:12.4rem*$honeycomb-scale;   
}
.google_sheet_container {
    position:absolute;
    top:4.2rem*$honeycomb-scale;
    right:9.5rem*$honeycomb-scale;
    
}
.payPal_container {
    position:absolute;
    bottom:10rem*$honeycomb-scale;
    left:0.5rem*$honeycomb-scale;
    //z-index:2;
}

.shopify_container {
    position:absolute;
    bottom:0.1rem*$honeycomb-scale;
    left:6.2rem*$honeycomb-scale;
     //z-index:2;
    
}

.z_index_back {
    z-index: -1;
}
.z_index_front {
    z-index: 3;
}
.arrow_1_a {
position:relative;
transform: rotate(15deg);
top:2.7rem*$honeycomb-scale;
left:7rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_1_b {
position:relative;
transform: rotate(140deg);
bottom:2.7rem*$honeycomb-scale;
right:1.2rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_2_a {
position:relative;
transform: rotate(75deg);
top:1.8rem*$honeycomb-scale;
left:1.66rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_2_b {
position:relative;
transform: rotate(15deg);
top:0.8rem*$honeycomb-scale;
left:7.133rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_2_c {
position:relative;
transform: rotate(-105deg);
bottom: 9.9rem;
left: 19.2rem;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_2_d {
position:relative;
transform: rotate(-45deg);
bottom:6rem*$honeycomb-scale;
left:22rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}

.arrow_4_a {
position:relative;
transform: rotate(-45deg);
bottom:3rem*$honeycomb-scale;
left:10rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.api_arrows_container {
position:relative;
bottom: 4.4rem;
left:0rem;
z-index: 2;
}

.arrow_google_sheet {
position:relative;
transform: rotate(-100deg);
bottom:6rem*$honeycomb-scale;
left:7rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_payPal {
position:relative;
transform: rotate(-45deg);
bottom:2.2rem*$honeycomb-scale;
left:9.9rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_shopify {
position:relative;
transform: rotate(15deg);
top:1.5rem*$honeycomb-scale;
left:7rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.arrow_oc_api {
position:relative;
transform: rotate(80deg);
top:0.5rem*$honeycomb-scale;
left:1.5rem*$honeycomb-scale;
width: 0;
height: 0;
border-bottom: 1rem*$honeycomb-scale solid $outer_honeycomb_color_light;
border-left: 1rem*$honeycomb-scale solid transparent;   
}
.symbol {
position: relative;
z-index: 2;
}

.foreverMe {
top: 1rem*$honeycomb-scale;
right: 0.1rem*$honeycomb-scale;
}

.redux {
top: 0rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.redux img{
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.foreverMe img {
height: 4rem*$honeycomb-scale;
width: 10rem*$honeycomb-scale;
}

.github {
top: 0rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.github img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.jest {
top: 0rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.jest img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.budget {
top: 0rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.budget img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.php {
bottom: 1rem*$honeycomb-scale;
left: 1.2rem*$honeycomb-scale;
}

.php img {
height: 7.5rem*$honeycomb-scale;
width: 7.5rem*$honeycomb-scale;
}
.google_sheet {
bottom: 0.6rem*$honeycomb-scale;
left: 1.8rem*$honeycomb-scale;    
}
.google_sheet img {
height: 6.5rem*$honeycomb-scale;
width: 6.5rem*$honeycomb-scale;    
}
.payPal {
bottom: 1rem*$honeycomb-scale;
left: 1.2rem*$honeycomb-scale;    
}
.payPal img {
height: 7.5rem*$honeycomb-scale;
width: 7.5rem*$honeycomb-scale;    
}
.shopify {
bottom: 1rem*$honeycomb-scale;
left: 1.2rem*$honeycomb-scale;    
}
.shopify img {
height: 7.5rem*$honeycomb-scale;
width: 7.5rem*$honeycomb-scale;    
}
.oc_api {
bottom: 1rem*$honeycomb-scale;
left: 1.2rem*$honeycomb-scale;    
}
.oc_api img {
height: 7.5rem*$honeycomb-scale;
width: 7.5rem*$honeycomb-scale;    
}
.symbolsmith {
top: 0.3rem*$honeycomb-scale;
left: 2.3rem*$honeycomb-scale;
}

.symbolsmith img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.nodejs {
top: 0.5rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.nodejs img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.css_logo {
top: 0.5rem*$honeycomb-scale;
left: 2.5rem*$honeycomb-scale;
}

.css_logo img {
height: 5rem*$honeycomb-scale;
width: 5rem*$honeycomb-scale;
}

.trello {
    left:1.5rem*$honeycomb-scale;
    bottom:0.85rem*$honeycomb-scale;
}

.trello img {
    height:7rem*$honeycomb-scale;
    width:7rem*$honeycomb-scale;
}

.reduxLabel {
    top: 3.3rem*$honeycomb-scale;
    position: relative;
    font-size: 1.3rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}
.red {
    background-color: red;
}
.visible{
    opacity: 1;
    cursor: pointer;
}
.mouseOver {
    cursor: pointer;
}
.invisible{
    opacity: 0;
    z-index:-1;
    pointer-events: none;
}
.trelloLabel {
    right:0.5rem*$honeycomb-scale;
    top: 1rem*$honeycomb-scale;
    position: relative;
    font-size: 1.5rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}

.reactLabel {
    left:5.5rem*$honeycomb-scale;
    bottom: 8.9rem*$honeycomb-scale;
    position: relative;
    font-size: 1.5rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}

.ocLabel {
    left:4.9rem*$honeycomb-scale;
    bottom: 8.8rem*$honeycomb-scale;
    position: relative;
    font-size: 1.1rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}

.jestLabel {
    top: 3.25rem*$honeycomb-scale;
    position: relative;
    font-size: 1.5rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}
.gitLabel_1{
    top: 2.8rem*$honeycomb-scale;
    right: 0.7rem*$honeycomb-scale;
    position: relative;
    font-size: 1.5rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}
.gitLabel_2{
    top: 2.8rem*$honeycomb-scale;
    right: 0.7rem*$honeycomb-scale;
    position: relative;
    font-size: 1.5rem*$honeycomb-scale;
    transform: rotate(30deg);
    color: #b9fff3;
}

.hexagons_container {
margin: 
    0rem 
    (((10rem*$honeycomb-scale)-(10rem*$honeycomb-border-width))/4)*$honeycomb_distance_horizontal 
    0rem 
    (((10rem*$honeycomb-scale)-(10rem*$honeycomb-border-width))/4)*$honeycomb_distance_horizontal;
}

.hexagons_container_light {
margin: 
    0rem 
    (((20rem*$honeycomb-scale)-(20rem*$honeycomb-border-width))/4)*$honeycomb_distance_horizontal 
    0rem 
    (((20rem*$honeycomb-scale)-(20rem*$honeycomb-border-width))/4)*$honeycomb_distance_horizontal;
}
.hexagon {
  width: 10rem*$honeycomb-border-width; //reverse order
  height: 5.7735rem*$honeycomb-border-width;
  background: $inner_honeycomb_color;
  position: relative;
}
.hexagon::before {
  content: "";
  position: absolute;
  top: -2.88675rem*$honeycomb-border-width;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem*$honeycomb-border-width solid transparent;
  border-right: 5rem*$honeycomb-border-width solid transparent;
  border-bottom: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color;
}
.hexagon::after {
  content: "";
  position: absolute;
  bottom: -2.88675rem*$honeycomb-border-width;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem*$honeycomb-border-width solid transparent;
  border-right: 5rem*$honeycomb-border-width solid transparent;
  border-top: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color;
}

    .hexagon_light {
      width: 10rem*$honeycomb-border-width; //reverse order
      height: 5.7735rem*$honeycomb-border-width;
      background: $inner_honeycomb_color_light;
      position: relative;
    }
    .hexagon_light::before {
      content: "";
      position: absolute;
      top: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-bottom: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_light;
    }
    .hexagon_light::after {
      content: "";
      position: absolute;
      bottom: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-top: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_light;
    }
    
    .hexagon_highlight {
      width: 10rem*$honeycomb-border-width; //reverse order
      height: 5.7735rem*$honeycomb-border-width;
      background: $inner_honeycomb_color_highlight;
      position: relative;
    }
    
    .hexagon_highlight::before {
      content: "";
      position: absolute;
      top: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-bottom: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_highlight;
    }
    .hexagon_highlight::after {
      content: "";
      position: absolute;
      bottom: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-top: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_highlight;
    }
    .subHexagon_highlight {
      width: 10rem*$honeycomb-border-width; //reverse order
      height: 5.7735rem*$honeycomb-border-width;
      background: $inner_honeycomb_color_highlight_sub;
      position: relative;
    }
    .subHexagon_highlight::before {
      content: "";
      position: absolute;
      top: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-bottom: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_highlight_sub;
    }
    .subHexagon_highlight::after {
      content: "";
      position: absolute;
      bottom: -2.88675rem*$honeycomb-border-width;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-border-width solid transparent;
      border-right: 5rem*$honeycomb-border-width solid transparent;
      border-top: 2.88675rem*$honeycomb-border-width solid $inner_honeycomb_color_highlight_sub;
    }
.outer_hexagon {
  width: 10rem*$honeycomb-scale;
  height: 5.7735rem*$honeycomb-scale;
  background: $outer_honeycomb_color;
  position: relative;
}
.outer_hexagon::before {
  content: "";
  position: absolute;
  top: -2.88675rem*$honeycomb-scale;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem*$honeycomb-scale solid transparent;
  border-right: 5rem*$honeycomb-scale solid transparent;
  border-bottom: 2.88675rem*$honeycomb-scale solid $outer_honeycomb_color;
}
.outer_hexagon::after {
  content: "";
  position: absolute;
  bottom: -2.88675rem*$honeycomb-scale;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem*$honeycomb-scale solid transparent;
  border-right: 5rem*$honeycomb-scale solid transparent;
  border-top: 2.88675rem*$honeycomb-scale solid $outer_honeycomb_color;
}

    .outer_hexagon_light {
      width: 10rem*$honeycomb-scale;
      height: 5.7735rem*$honeycomb-scale;
      background: $outer_honeycomb_color_light;
      position: relative;
    }
    .outer_hexagon_light::before {
      content: "";
      position: absolute;
      top: -2.88675rem*$honeycomb-scale;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-scale solid transparent;
      border-right: 5rem*$honeycomb-scale solid transparent;
      border-bottom: 2.88675rem*$honeycomb-scale solid $outer_honeycomb_color_light;
    }
    .outer_hexagon_light::after {
      content: "";
      position: absolute;
      bottom: -2.88675rem*$honeycomb-scale;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem*$honeycomb-scale solid transparent;
      border-right: 5rem*$honeycomb-scale solid transparent;
      border-top: 2.88675rem*$honeycomb-scale solid $outer_honeycomb_color_light;
}

.hexagon_container{
 position: relative;
 left:((10rem*$honeycomb-scale)-(10rem*$honeycomb-border-width))/2;
 //left: 0.85rem;
 bottom: -((5.7735rem*$honeycomb-scale)-(5.7735rem*$honeycomb-border-width))/2;
 //background-color:red;
 //width: 100px;
 //height:60px;
}

.outer_hexagon_container {
 z-index: -1;
 position: absolute;
 //left: 100px*$honeycomb-scale;
 //bottom: 57.735px*$honeycomb-scale;
 //background-color: green;
 //width: 120px;
 //height:65px;
}

.ssDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ssVid {
    display: flex;
    position: relative;
    left:0rem;
    margin-top:0rem;
    justify-content: space-around;
} 

.mvc_image {
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mvc_image img {
    position: relative;
    height: 40rem*$honeycomb-scale;
    width: 50rem*$honeycomb-scale;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mvc_caption {
    font-size:1.2rem*$honeycomb-scale;
    color:#abf6ff;
    position: relative;
    text-align: center;

}

.react_image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.react_image img {
    position: relative;
    height: 40rem*$honeycomb-scale;
    width: 50rem*$honeycomb-scale;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subHeading {
    color:#d5fff8;
    display: flex;
    justify-content: space-around;
    font-size: 2rem*$honeycomb-scale;
    font-family: "Fauna One";
}

.subHeading_budget {
    color:#d5fff8;
    display: flex;
    justify-content: space-around;
    font-size: 2rem*$honeycomb-scale;
    font-family: "Fauna One";
    margin-bottom: 1.5rem;
}

.note{
    color:#d5fff8;
    font-size: 1rem*$honeycomb-scale;
    font-family: "Fauna One";
}

.phpFunctions {
margin: 1rem 0rem 1rem 2rem;
font-size: 1.5rem;
display: flex;
flex-direction: column;
justify-content: space-around;

}

.phpFunction {
    margin: 0.25rem 0rem 0.25rem 0rem;
}