
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
/*$honeycomb-scale: 2.5;
$outer_honeycomb-scale: 2.8;*/
//1.3
$honeycomb-scale: 1;
$honeycomb-border-width: $honeycomb-scale*0.97;
//$outer_honeycomb_color: #d5fff8;
$outer_honeycomb_color: #b8f7ff;
$outer_honeycomb_color_light: #63eeff;
$inner_honeycomb_color: #06dcff;
//$inner_honeycomb_color_highlight: #0bd0ff;
$inner_honeycomb_color_highlight:#63eeff;
$inner_honeycomb_color_highlight_sub:#2ce1ff;
$inner_honeycomb_color_light: #06dcff;
$label_color: #b9fff3;
$arrow_color:#4fecff;
$honeycomb_distance: 1.5;
$honeycomb_distance_horizontal: $honeycomb_distance*10;
$baseColor: #00dcff;
//mobile
$honeycomb-mobile-scale: 8;
$honeycomb-border-mobile-width: $honeycomb-mobile-scale*0.97;
$honeycomb_distance_mobile: 1.4;
$honeycomb_distance_horizontal_mobile: $honeycomb_distance_mobile*10; 
//mobile single
$honeycomb-single-scale: 12;
$honeycomb-border-single-width: $honeycomb-single-scale*0.97;
$honeycomb_distance_single: 1.4;
$honeycomb_distance_horizontal_single: $honeycomb_distance_single*10; 


